<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>usuarioServlets</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.usuarioServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorPredictivo</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.buscadorPredictivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorPredictivoProveedor</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.buscadorPredictivoProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clienteServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.clienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleadoServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.empleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.productoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedorServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.proveedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorClientePredictivo</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.buscadorClientePredictivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorEmpleadoPredictivo</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.buscadorEmpleadoPredictivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarCarrito</servlet-name>
        <servlet-class>cl.easyfarma.venta.controladorVenta.ServletAgregarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControlador</servlet-name>
        <servlet-class>cl.easyfarma.venta.controladorVenta.ServletControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarProducto</servlet-name>
        <servlet-class>cl.easyfarma.venta.controladorVenta.ServletModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorFarmacia</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.buscadorFarmacia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoGSON</servlet-name>
        <servlet-class>cl.easyfarma.venta.controladorVenta.ProductoGSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarClientePlus</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.buscarClientePlus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ventas</servlet-name>
        <servlet-class>cl.easyfarma.venta.controladorVenta.ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDataServlet</servlet-name>
        <servlet-class>cl.easyfarma.venta.controladorVenta.SaveDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ciudadServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.ciudadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerFolioServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.ObtenerFolioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoVentaServlet</servlet-name>
        <servlet-class>cl.easyfarma.ventas.controler.productoVentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productosVendidos</servlet-name>
        <servlet-class>cl.easyfarma.venta.controladorVenta.productosVendidos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usuarioServlets</servlet-name>
        <url-pattern>/usuarioServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorPredictivo</servlet-name>
        <url-pattern>/buscadorPredictivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorPredictivoProveedor</servlet-name>
        <url-pattern>/buscadorPredictivoProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clienteServlet</servlet-name>
        <url-pattern>/clienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleadoServlet</servlet-name>
        <url-pattern>/empleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoServlet</servlet-name>
        <url-pattern>/productoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedorServlet</servlet-name>
        <url-pattern>/proveedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorClientePredictivo</servlet-name>
        <url-pattern>/buscadorClientePredictivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorEmpleadoPredictivo</servlet-name>
        <url-pattern>/buscadorEmpleadoPredictivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarCarrito</servlet-name>
        <url-pattern>/ServletAgregarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControlador</servlet-name>
        <url-pattern>/ServletControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarProducto</servlet-name>
        <url-pattern>/ServletModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorFarmacia</servlet-name>
        <url-pattern>/buscadorFarmacia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoGSON</servlet-name>
        <url-pattern>/ProductoGSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarClientePlus</servlet-name>
        <url-pattern>/buscarClientePlus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ventas</servlet-name>
        <url-pattern>/ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDataServlet</servlet-name>
        <url-pattern>/SaveDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ciudadServlet</servlet-name>
        <url-pattern>/ciudadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerFolioServlet</servlet-name>
        <url-pattern>/ObtenerFolioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoVentaServlet</servlet-name>
        <url-pattern>/productoVentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productosVendidos</servlet-name>
        <url-pattern>/productosVendidos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
